/* General Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: "Homemade Apple", cursive;
    font-style: normal;
    background: #F96A5C;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
    padding-bottom: 5em;
}

.page-title {
    font-size: 3em;
    color: #ffffff;
    margin-top: 1.5em;
}

/* Track Container */
.track-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
  background: none;
  border: none;
  padding: 1em;
  width: 80%;
  margin: 3em;
}

/* Track Rows (Paper Effect) */
figure.track-row {
    flex: 1;
    line-height: 1.5;
    color: #663c5b;
    width: 100%;
    padding: 1.5em;
    margin-bottom: -0.375em; /* Adjusted for line height */
    font-size: 20px;
    position: relative;
    background: #d3d0b8;
    background-image: repeating-linear-gradient(
        rgba(0, 0, 0, 0.12) 0 1px,
        transparent 0 1.5em
    );
    background-origin: content-box;
    box-shadow: 10px 8px 6px 5px rgba(0, 0, 0, 0.05);
    transform: translateY(-0.375em);
}

figure.track-row + figure.track-row {
    margin-top: 2em;
}